<div id="main">
    <p>functions works!</p>
<div style="text-align: center;">
    <h2 >{{count}}</h2>
    <!-- <div>
        <button class="btn bg-green"  (click)="increase()">Increase</button>
        <button class="btn bg-black"  (click)="reset()">Reset</button>
        <button class="btn bg-red"  (click)="dencrease()">Decrease</button>
    </div> -->
     <div>
        <button class="btn bg-green"  (click)="handle('plus')">Increase</button>
        <button class="btn bg-black"  (click)="handle('reset')">Reset</button>
        <button class="btn bg-red"  (click)="handle('minus')">Decrease</button>
    </div>
</div>
</div>